@import '../../../styles/index.scss';

.section__title {
  text-align: center;
  color: $color-gray-900;
  font-weight: bold;
}

.section {
  @include section-border();
}

@media print {
  .section {
    padding-top: 2mm;
  }
}
