@import '../../../styles/index.scss';

.section-list {
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__main {
    color: $color-gray-900;
    font-weight: bold;
    line-height: 1.2;
  }
  &__sub {
    color: $color-gray-700;
  }
}

@media print {
  .section-list__ul {
    @include print-ul-margin();
  }
}
