@import '../../styles/index.scss';

.resume {
  max-width: 1140px;
  background-color: $color-white;
  margin: auto;
  padding: $spacing-stack-m $spacing-stack-l $spacing-stack-m $spacing-stack-l;
}

@media print {
  .resume {
    width: 100%;
    max-width: 100%;
    background-color: $color-white;
    margin: auto;
    padding: 0px;
  }
}
