@import '../../styles/index.scss';

.resume {
  background-color: $color-white;
  padding: $spacing-stack-s-4 $spacing-stack-l-3 $spacing-stack-s-4
    $spacing-stack-l-3;
  flex: 1;
  word-break: break-all;
}

@media print {
  .resume {
    width: 100%;
    max-width: 100%;
    background-color: $color-white;
    margin: auto;
    padding: 0px;
  }
}
