@import '../../../styles/index.scss';

.section-list__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-list__title {
  color: $color-gray-900;
  font-weight: bold;
  line-height: 1.2;
}

.section-list__awarder {
  color: $color-gray-700;
}

@media print {
  .section-list__ul {
    @include print-ul-margin();
  }
}
